.vscode/
miniforge3/
.venv/

# Ignore data
*.nc
*.npy
*.npz
*.zarr
*.mat
*.grib
*.grb2

# Ignore Jupyter autosave
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore masks
mask_bool_*.nc

# Ignore misc
*.jpg
*.jpeg
*.svg
*.pdf
*.png


# You can whitelist specific important plots like:
!EOF/important_figures/*